@font-face {
    font-family: 'Prompt Regular';
    src: url('../fonts/Prompt.eot');
    src: url('../fonts/Prompt.eot?#iefix') format('embedded-opentype'), url('../fonts/Prompt.woff') format('woff'), url('../fonts/Prompt.ttf') format('truetype'), url('../fonts/Prompt.svg#glyphicons-halflingsregular') format('svg');
}
.on-font-primary {
    font-family: 'Prompt Regular';
}

.navbar-brand>a>img {
    -webkit-animation: logo-fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: logo-fadein 5s; /* Firefox < 16 */
        -ms-animation: logo-fadein 5s; /* Internet Explorer */
         -o-animation: logo-fadein 5s; /* Opera < 12.1 */
            animation: logo-fadein 5s;
}
@keyframes logo-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.form-manage .form-select {
    color: #60697c;
    font-weight: normal;
}
.form-manage .form-check input[type='radio'] {
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-top: 0rem;
    box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.20);
}
.form-manage .form-check input[type='checkbox'] {
    width: 24px;
    height: 24px;
    margin-top: 0.1rem;
    box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.20);
}
.form-manage .form-control {
    font-weight: normal;
}
.form-manage .form-check .form-check-label {
    font-size: 0.75rem;
    font-weight: normal;
}
.form-manage .form-check .form-check-label span {
    font-size: 0.75rem;
    padding-left: 5px;
}
.modal-manage .modal-header {
    display: block;
    min-height: 75px;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.modal-manage .modal-header .btn-close {
    top: 1.2rem;
    right: 1.2rem;
}
.modal-manage .modal-body {
    padding-top:0;
    padding-bottom:0;
}
.modal-manage .modal-footer {
    display: block;
    min-height: 130px;
    padding-top:25px;
    padding-bottom:20px;
}
.modal-manage .modal-footer .confirm-box .btn {
    padding-top:8px;
    padding-bottom:8px;
}
.modal-manage .modal-footer .row-button>div {
    float: none;
    width: 50%;
}
.run-start {
    width: 50% !important;
    height: 50% !important;
    background: url('../img/wait-loading.gif') no-repeat center center !important;
    background-size: contain !important;
}
.on-btn-black {
    color: white !important;
}
.on-btn-black:hover {
    color: black !important;
}
.on-btn-white,
.on-btn-white:hover {
    color: white !important;
}
.on-text-oneline {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.on-text-display {
    height: auto !important;
    min-height: 52px;
}
.on-text-display.readonly {
    background-color: #f6f7f9;
}
.on-text-normal {
    font-weight: normal;
}
.on-text-normal-i {
    font-style: italic;
    font-weight: normal;
}
.on-text-i {
    font-style: italic;
}
.on-blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.modal-imageviewer {
    padding: 15px 15px 0 15px !important;
}
.modal-imageviewer .modal-dialog {
    width: 100%;
    margin: 0;
    padding: 0;
}
.modal-imageviewer .modal-dialog .modal-content {
    width:100%;
    height: auto;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 10px;
    background: none !important;
}
.modal-imageviewer .modal-dialog .modal-content img {
    max-width:100%;
    display:flex;
    margin:auto;
    border:1px solid #00000099;
    box-shadow:0 0 20px #000000;
}
.modal-imageviewer .i-save {
    width: 100px;
    color: white;
    display: none;
    padding: 5px 0 5px 5px;
    cursor: pointer;
    letter-spacing:-1.5px;
    background-color: #00000099;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}
.modal-imageviewer .i-save>a {
    color: white;
}
.modal-imageviewer .i-save>a:hover {
    color: #00bcd4;
}
.modal-imageviewer .i-close {
    width: 100px;
    color: white;
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
    background-color: #00000099;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}
.modal-imageviewer .i-close:hover {
    color: red;
}
.modal-imageviewer .download .i-save {
    display: inline-block;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.modal-imageviewer .download .i-close {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}
@media only all and (max-width: 768px) {
    .form-manage .form-check .form-check-label span.price {
        display: block;
        padding-left: 0;
    }
}
@media only all and (max-width: 475px) {
    .form-manage .form-check .form-check-label span.price {
        display: block;
        padding-left: 0;
    }
}